

* {
  box-sizing: border-box;
}

/***********************FOR GLOBAL USAGE***********************/

@font-face {
    font-family: "Loves";
    src: url(../fonts/loves.ttf);
}


.clearFloat{
	clear:both;
}


.fontLoves{
	font-family: Loves, sans-serif;;
}


.mainContent{
	width:100%;
	max-width:63em;
	margin:auto;
}


html::-webkit-scrollbar { 
    display: none; 
} 

/*.mainContent2{
	width:100%;
	max-width:63em;
	left:0;
	right:0;
}*/

body{
	overflow-x: hidden;
	z-index:-100;
}

.spaceBelow{
	width:100%;
	height:5em;
	background-color: white;
}









/***********************MAIN MENU***********************/

.mainNav{
	display:block;
	width:100%;
	max-width:63em;
	background-color:white;
	top:0;
	margin:auto;
}


.mainNavLinks{
	display:block;
	width:100%;
	background-color:white;
	position:relative;
	overflow: hidden;
	min-width:27.8em;
}


.mainNavItem{
	display:inline-block;
	float:left;
	vertical-align: top;
	text-decoration: none;
	-webkit-text-stroke-width: 0.03em;
   -webkit-text-stroke-color: #3D5AFE;
   color:#3D5AFE;
   letter-spacing: 0.4em;
   font-size:1.2em;
   margin-right:4em;
   margin-bottom:0.8em;
   -webkit-user-select: none;       
	-moz-user-select: none;  
	-ms-user-select: none; 
	user-select: none;

	padding-right:2%;
	padding-left:2%;
	padding-bottom:0.3125em;
	padding-top:0.3125em;

	cursor: pointer;
}

.mainNavItem:hover{
	-webkit-text-stroke-color: #011fcb;
   color:#011fcb;
}





#mainNavMe{
	margin-right: 0px;
}


#mainNavHighlighter{
	width:8.2929em;
	height:0.125em;
	background-color: #3D5AFE;
	margin-left:20.1563px;
	margin-bottom:0.3em;
}


.logo{
	width:12em;
	height:3em;
	margin-bottom:1.5em;
	margin-top:1.5em;
	margin-left:2%;
}


#loader{
	position: fixed;
	width:100vw;
	height:100vh;
	top:0;
	background-color:#3D5AFE;
	z-index:1000;

	animation: hideLoader 500ms ease-in-out 0s forwards;
	animation-direction: alternate;
	clip-path: circle(100% at 50% 50%);
	animation-play-state: paused;
}

.smallLogo{
	width:12em;
	height:3em;
	top:0;
	bottom:0;
	margin:auto;
	animation: pulse 500ms ease-in-out 0s infinite;
	animation-direction: alternate;
	clip-path: circle(100% at 50% 50%);
}


@keyframes pulse {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.2);
  }
}


@keyframes hideLoader {
	0% {
      clip-path: circle(100% at 50% 50%);
  }
  100% {
      clip-path: circle(0% at 50% 50%);
  }
}












/***********************MAIN CONTENT CONTAINER***********************/
#dynamicContent{
	position: absolute;
	width:300%;
	height:1000px;
	top:10em;
	z-index:0;
}









/***********************ARTICLES***********************/

.articlesContent{
	width:100%;
	height:auto;
}


.article{
	display:table;
	vertical-align: top;
	width:46%;
	height:30em;
	background-color: red;
	float:left;
	margin:2%;
	cursor: pointer;
	z-index:10;
	position:relative;
}





/*ARTICLES TEXT*/
.articleText{
	width:100%;
	height:auto;
	padding:2em;
	bottom:0;
	z-index:30;
	position:absolute;
}

.articleTitle{
	display: inline-block;
	width:100%;
	height:auto;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.5em;
	font-weight: 200;
	margin:0;
	color:white;
}

.articleDate{
	display: inline-block;
	width:100%;
	height:auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
	font-weight: 500;
	margin:0;
	color:rgb(200,200,200);
	margin-bottom:0.5em;
}




.smallTile .articleTitle {
	font-size:1em;
}

.tallTile .articleTitle {
	font-size:1em;
}





/*ARTICLE IMAGES*/
.backgroundCover{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index:15;
}

.darkOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(74, 63, 54, 1);
  opacity: 0.7;
  top:0;
  left:0;
  z-index:20;
}


.article:hover .darkOverlay {
	opacity: 0.6;
}




.columnLayout2{
	width:50%;
	float:left;
	padding:2%;
}


.columnLayout1{
	width:100%;
	/*float:left;*/
	padding:2%;
}





.bookCover{
  width: 100%;
  height: 30em;
  object-fit: cover;
}

p{
	width:100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.5em;
}

h1{
	width:100%;
	font-family: 'Ubuntu', sans-serif;
	font-size: 2em;
	font-weight: 100;
}

.button{
	text-decoration: none;
	-webkit-text-stroke-width: 0.05em;
   -webkit-text-stroke-color: #3D5AFE;
   color:#3D5AFE;
   letter-spacing: 0.4em;
   font-size:1em;
}



.fullWidthCentered2Column{
	width:100%;
	display: flex;
	align-items: center;
}

.fullWidthCentered1Column{
	width:100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}



.social{
	width:100%;
	height:auto;
}


.socialIcon{
	width:25%;
	max-width:5em;
	float:left;
	padding:1em;
}



@media screen and (max-width: 60em) {
	.mainNavItem{
		font-size:1em;
		margin-right:1em;
	}
  
}



@media screen and (max-width: 35em) {

	.fullWidthCentered2Column{
		flex-direction: column;
	}

	.columnLayout2{
		width:100%;
	}

	.button{
		font-size:0.8em;
	}

}









.floatingNav {
    
    width: 10rem;
    height: 11rem;
    background-color: red;
    position: fixed;
    display: block;
    left: 0;
    top: 100px;
    z-index: 1000;
  
    padding: 0.5rem 0;

}

.floatingNavLinks {
  color: white;
  float:left;
  height:40px;
  width:100%;
  
  padding: 0.7rem 2rem;
  opacity:0.7;
}



.floatingNavText {
	display:block;
  margin-right:0.8rem;
  float:left;
  color:white;
	opacity: 1;
}

.floatingNavBars {
    background-color: red;
    width: 0px;
    border-left: 1px solid white;
    height: 12px;
    margin-top: 3px;
    float: left;
    content: "&nbsp;";
    position: absolute;
    
}

.floatingNavActive {
  opacity: 1;
	-webkit-text-stroke-width: 0.05em;
   -webkit-text-stroke-color: white;
}

#floatingNavBar01 {
  left: 8rem;
  animation-name: floatingNavBarRotation1;
  animation-duration: 500ms;
  animation-play-state: paused;
  animation-fill-mode:forwards;
  animation-direction:forwards;
	
	
  -webkit-animation-name: floatingNavBarRotation1;
  -webkit-animation-duration: 500ms;
  -webkit-animation-play-state: paused;
  -webkit-animation-fill-mode:forwards;
  -webkit-animation-direction:forwards;
	
  -moz-animation-name: floatingNavBarRotation1;
  -moz-animation-duration: 500ms;
  -moz-animation-play-state: paused;
  -moz-animation-fill-mode:forwards;
  -moz-animation-direction:forwards;
	
  -o-animation-name: floatingNavBarRotation1;
  -o-animation-duration: 500ms;
  -o-animation-play-state: paused;
  -o-animation-fill-mode:forwards;
  -o-animation-direction:forwards;
}

.floatingNavBar01LeftAttr{
  left:8rem;
}


#floatingNavBar02 {
  left: 7.8rem;
  animation-name: floatingNavBarRotation1;
  animation-duration: 500ms;
  animation-play-state: paused;
  animation-fill-mode:forwards;
  animation-direction:forwards;
	

  -webkit-animation-name: floatingNavBarRotation1;
  -webkit-animation-duration: 500ms;
  -webkit-animation-play-state: paused;
  -webkit-animation-fill-mode:forwards;
  -webkit-animation-direction:forwards;
	
  -moz-animation-name: floatingNavBarRotation1;
  -moz-animation-duration: 500ms;
  -moz-animation-play-state: paused;
  -moz-animation-fill-mode:forwards;
  -moz-animation-direction:forwards;
	
  -o-animation-name: floatingNavBarRotation1;
  -o-animation-duration: 500ms;
  -o-animation-play-state: paused;
  -o-animation-fill-mode:forwards;
  -o-animation-direction:forwards;
}

.floatingNavBar02LeftAttr{
  left: 7.8rem;
}


#floatingNavBar03 {
  left: 5.5rem;
  animation-name: floatingNavBarRotation1;
  animation-duration: 500ms;
  animation-play-state: paused;
  animation-fill-mode:forwards;
  animation-direction:forwards;
	
  -webkit-animation-name: floatingNavBarRotation1;
  -webkit-animation-duration: 500ms;
  -webkit-animation-play-state: paused;
  -webkit-animation-fill-mode:forwards;
  -webkit-animation-direction:forwards;
	
  -moz-animation-name: floatingNavBarRotation1;
  -moz-animation-duration: 500ms;
  -moz-animation-play-state: paused;
  -moz-animation-fill-mode:forwards;
  -moz-animation-direction:forwards;
	
  -o-animation-name: floatingNavBarRotation1;
  -o-animation-duration: 500ms;
  -o-animation-play-state: paused;
  -o-animation-fill-mode:forwards;
  -o-animation-direction:forwards;
}

.floatingNavBar03LeftAttr{
  left: 5.5rem;
}


#floatingNavBar04 {
  left: 4.3rem;
  animation-name: floatingNavBarRotation1;
  animation-duration: 500ms;
  animation-play-state: paused;
  animation-fill-mode:forwards;
  animation-direction:forwards;

  -webkit-animation-name: floatingNavBarRotation1;
  -webkit-animation-duration: 500ms;
  -webkit-animation-play-state: paused;
  -webkit-animation-fill-mode:forwards;
  -webkit-animation-direction:forwards;
	
  -moz-animation-name: floatingNavBarRotation1;
  -moz-animation-duration: 500ms;
  -moz-animation-play-state: paused;
  -moz-animation-fill-mode:forwards;
  -moz-animation-direction:forwards;
	
  -o-animation-name: floatingNavBarRotation1;
  -o-animation-duration: 500ms;
  -o-animation-play-state: paused;
  -o-animation-fill-mode:forwards;
  -o-animation-direction:forwards;
}

.floatingNavBar04LeftAttr{
  left: 4.3rem;
}


@keyframes floatingNavBarRotation1 {
  from {transform: rotate(0deg);}
  to {transform: rotate(90deg);}
}

@keyframes floatingNavBarRotation2 {
  from {transform: rotate(90deg);}
  to {transform: rotate(0deg);}
}


@-webkit-keyframes floatingNavBarRotation1 {
  from {transform: rotate(0deg);}
  to {transform: rotate(90deg);}
}

@-webkit-keyframes floatingNavBarRotation2 {
  from {transform: rotate(90deg);}
  to {transform: rotate(0deg);}
}


@-moz-keyframes floatingNavBarRotation1 {
  from {transform: rotate(0deg);}
  to {transform: rotate(90deg);}
}

@-moz-keyframes floatingNavBarRotation2 {
  from {transform: rotate(90deg);}
  to {transform: rotate(0deg);}
}


@-o-keyframes floatingNavBarRotation1 {
  from {transform: rotate(0deg);}
  to {transform: rotate(90deg);}
}

@-o-keyframes floatingNavBarRotation2 {
  from {transform: rotate(90deg);}
  to {transform: rotate(0deg);}
}